<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sidebar</title>
</head>

<body>
  <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="sidebar">
    <div class="logo-details">
      <i class="bi bi-database-check"></i>
      <span class="logo-name">STDGX</span>
    </div>
    <ul class="nav-links">
      <li>
        <a [routerLink]="['/layout/dash']">
          <i class="bi bi-columns-gap"></i>
          <span class="link-name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li>
            <a [routerLink]="['/layout/dash']" class="link-name">Dashboard</a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/layout/upload']">
          <i class="bi bi-file-earmark-arrow-up"></i>
          <span class="link-name">Upload xlsx</span>
        </a>
        <ul class="sub-menu blank">
          <li>
            <a [routerLink]="['/layout/upload']" class="link-name">Upload xlsx</a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/layout/interface']">
          <i class="bi bi-ui-checks"></i>
          <span class="link-name">Interface</span>
        </a>
        <ul class="sub-menu blank">
          <li>
            <a [routerLink]="['/layout/interface']" class="link-name">Interface</a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/layout/configurations']">
          <i class="bi bi-gear"></i>
          <span class="link-name">Configurations</span>
        </a>
        <ul class="sub-menu blank">
          <li>
            <a [routerLink]="['/layout/configurations']" class="link-name">Configurations</a>
          </li>
        </ul>
      </li>
      <li>
        <div class="profile-details">
          <div class="name-job">
            <div class="profile-name">stdgx</div>
            <div class="job">stdgx</div>
          </div>
          <i class="bi bi-door-closed" (click)="logout()"></i>
        </div>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <i class="bi bi-list-task"></i>
    <router-outlet></router-outlet>
  </section>
</body>

</html>