<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dash</title>
</head>

<body>
  <div class="dash-container">
    <div>
      <canvas id="MyChart1">{{ chart1 }}</canvas>
    </div>
    <div>
      <canvas id="MyChart2">{{ chart2 }}</canvas>
    </div>
    <hr>
    <hr>
    <div>
      <canvas id="MyChart3">{{ chart3 }}</canvas>
    </div>
    <div>
      <canvas id="MyChart4">{{ chart4 }}</canvas>
    </div>
  </div>
</body>

</html>