.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.drop {
  border: 2px dashed #fff;
  padding: 50px;
  text-align: center;
  color: #8f8f8f;
}

.drop:hover {
  background-color: #18002e;
  color: #fff;
}