<div class="login-container">
  <video autoplay muted loop id="myVideo">
    <source src="assets/STDGX.mp4" type="video/mp4">
  </video>

  <div class="container">
    <div class="box">
      <span></span>
      <div class="content">
        <form [formGroup]="lForm" class="form" (ngSubmit)="login(); $event.preventDefault()">
          <label class="input-label">
            <label class="text">Endereço de Email</label>
            <div class="input-container">
              <i class="bi bi-envelope-fill"></i>
              <input type="email" class="input" placeholder="--> Insira seu email" autofocus formControlName="login" />
            </div>
          </label>
          <label class="input-label">
            <label class="text">Senha</label>
            <div class="input-container">
              <i class="bi bi-lock-fill"></i>
              <input type="password" class="input" placeholder="--> Insira sua senha" formControlName="password" />
            </div>
          </label>
          <input class="btn bt-login" type="submit" value="Entrar">
          <footer>
            <label>não tem uma conta?
              <a class="link" [routerLink]="['/register']">Cadastre-se!</a>
            </label>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>