body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.left {
    background-color: #f2f2f2;
}

.title {
    font-size: 120px;
    margin: 0;
}

.left-text {
    font-size: 20px;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.right {
    flex-direction: column;
    background-color: #e0e0e0;
}

form {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    width: 50vh;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.register-button {
    width: 20vh;
    height: 30px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
    margin-top: 15px;
    margin-left: 20vh;
}

.register-button:hover {
    background-color: #555;
}