<div class="interface-container">
  <h1 class="loading-text text-center text-uppercase">
    <span class="char">P</span>
    <span class="char">r</span>
    <span class="char">e</span>
    <span class="char">p</span>
    <span class="char">a</span>
    <span class="char">r</span>
    <span class="char">a</span>
    <span class="char">n</span>
    <span class="char">d</span>
    <span class="char">o</span>
    <span class="char">|</span>
    <span class="char">A</span>
    <span class="char">t</span>
    <span class="char">u</span>
    <span class="char">a</span>
    <span class="char">l</span>
    <span class="char">i</span>
    <span class="char">z</span>
    <span class="char">a</span>
    <span class="char">ç</span>
    <span class="char">ã</span>
    <span class="char">o</span>
    <span class="char">!</span>
  </h1>
</div>